/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

/*=========================================
    Main Styles
    =========================================*/
    body {
      font-family: copper plate gothic light;
      background-color: #90A74C;
      color: #58483A;

    }

    .content {
      max-width: 500px;
      margin: auto;
    }

    .row {
      display: inline-block;
    }

    html, body, {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    nav {
      display: inline-block;
      width: 100%;
      height: 100px;
      background-color: #58483A;

    }


    ul {
      margin: 0;
      list-style-type: none;
      overflow: hidden;
      padding: 0;
      background-color: #58483A;

    }

    li {
      float: left;

    }

    li a {
      list-style: none;
      text-decoration: none;
      font-size: 50px;
      font-family: Showcard gothic;
      color: #F9EEC9;
      line-height: 100px;
      padding: 0 20px;
      display: block;


    }

    li a:hover {
      color: #E4B455;

    }

    h1 {
     
    }




}

  html {
    position: relative;
    min-width: 600px;
  }

* {
  box-sizing: border-box;
}


    .row {
  display: inline-block; 
  display: flex;
  -ms-flex-wrap: wrap; 

  flex-wrap: wrap;
  margin: 0 -16px;
  text-align: center;
}

.col-25 {
  -ms-flex: 25%; 
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  display: inline-block;
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}