
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    text-align: center;


  }

/*=========================================
    Main Styles
    =========================================*/
    body {
      text-align: center;
      font-family: copper plate gothic light;
      color: #58483A;
      background-color: #90A74C;
    }

    .content {
      max-width: 500px;
      margin: auto;
    }


    form {
      border: 5px solid #58483A;
      background-color: #F9EEC9;
      text-align: center;
      }

    html, body, {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    nav {
      width: 100%;
      height: 100px;
      background-color: #58483A;
      display: inline-block;
    }


    ul {
      margin: 0;
      list-style-type: none;
      overflow: hidden;
      padding: 0;
      background-color: #58483A;

    }

    li {
      float: left;

    }

    li a {
      list-style: none;
      text-decoration: none;
      font-size: 50px;
      font-family: Showcard gothic;
      color: #F9EEC9;
      line-height: 100px;
      padding: 0 20px;
      display: block;


    }

    li a:hover {
      color: #E4B455;

    }

    h1 {
     
    }



  html {
    min-width: 550px;
    position: relative;
  }

  div {
    display: inline-block;
    width: 50%
    max-width: 600px;
  }

  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    text-align: left;
    display: inline-block;
    box-sizing: border-box;
  }

  /* Set a style for all buttons */
  button {
    background-color: #B4000F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }



  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

  /* Extra style for the cancel button (red) */
  .cancelbtn {
    text-align: center;
    padding: 10px 18px;
    background-color: #f44336;
  }

  /* Add padding to containers */



  .container {
    padding: 16px;
  }

  .button {
    display: inline-block;
    background-color: #B4000F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  table, tr {
    size: 50px
  }






  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

    .container {
      width: 989px;
      margin: 0 auto;
      display: inline-block;
    }

    .footer {
      text-align: center;
    }
